#search-input {
  background-image: url('searchicon.png');
  background-size: 20px 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 95%;
  font-size: 16px;
  padding: 12px 0px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  margin-top: 20px;
}

#search-items-list {
  list-style-type: none;
  padding: 0;
}


#first-item {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding-top: 10px; /* Add some padding */
    padding-bottom: 10px; /* Add some padding */
    padding-left: 10px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    width: 60%;
    float: left;
}

#second-item {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding-top: 10px; /* Add some padding */
    padding-bottom: 10px; /* Add some padding */
    padding-left: 10px; /* Add some padding */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    width: 30%;
    float: right;
    text-align: center;
}

#container {
	margin-left : auto; 
	margin-right: auto;
	width: 80%;
}

#header {
	width: 100%;
	height: 230px;
	background-image: url('wicket-logo.png');
	background-size: 98% 100%;
	background-repeat: no-repeat;
}

#content {
	width: 100%;
	padding: 10px;
}

#left-section {
	width: 60%;
	float: left;
}

#right-section {
	width: 40%;
	float: right;
}

#right-section table {
	padding-left: 30%;
}

#right-section input {
	margin-top: 10px;
	padding: 5px;
	background-color: #ef6700; /* Grey background color */
	border: 1px solid #e04e00; /* Add a border to all links */
	color: white;
	border-radius: 20em;
}

table { 
  	border-spacing: 10px; 
} 

table td {
	width: 65%;
}

.last-column {
	text-align: center;
}

.no-results-txt {
	color: red;
}
